{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href=" {% static 'produtos/css/ver_produto.css ' %}">

    <title>Página Problema</title>
</head>
<body>
    
<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eligendi veritatis architecto quibusdam, praesentium consequatur nesciunt doloribus qui consectetur cumque incidunt eveniet, iusto tenetur mollitia obcaecati! Porro necessitatibus inventore rem?</h1>
<h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus vel velit voluptatibus quis perferendis, quia eligendi iste deserunt minus vero consequuntur earum consequatur dolorum incidunt rerum. Consequuntur, id laborum. Accusantium!</h2>
<h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos odit, ipsam, sunt placeat quis animi adipisci ipsum voluptate et labore optio nostrum inventore ducimus, ut fuga temporibus! Eos, amet necessitatibus!</h3>


<button>
  <a href="pagina1">link para pagina 1</a>
</button>


</body>
</html>